# Database Configuration
DB_PORT=3307

# Backend Configuration
# BACKEND_IMAGE=ghcr.io/your-username/your-repo/backend:latest
# chỉ dùng khi chạy Docker
BACKEND_PORT=8083
# chạy ở local
SERVER_PORT=8083


# Frontend Configuration
# FRONTEND_IMAGE=ghcr.io/your-username/your-repo/frontend:latest
FRONTEND_PORT=3001
VITE_BACKEND_URL=http://localhost:8083

# JWT Configuration
JWT_BASE64_SECRET=TRrx3ZoD9xgevlM73MU8/ay9VO+8RJ7NjvFh5Ab0xoTsKzuPYwCOKDZugGYsVxroYRfP94DH6jBxBhFyBPaQQQ==
JWT_ACCESS_EXPIRE=86400
JWT_REFRESH_EXPIRE=604800

# phpMyAdmin Configuration
PHPMYADMIN_PORT=8082

# tên container trong Docker
COMPOSE_PROJECT_NAME=quanlytuyensinh

# ================= OAuth Google =================
GG_CLIENT_ID=your-google-client-id
GG_CLIENT_SECRET=your-google-client-secret
GG_REDIRECT_URI=http://localhost:8083/api/v1/auth/social/callback?login_type=google
GG_USER_INFO_URI=https://www.googleapis.com/oauth2/v3/userinfo

# ================= OAuth Facebook =================
FB_CLIENT_ID=your-facebook-app-id
FB_CLIENT_SECRET=your-facebook-app-secret
FB_REDIRECT_URI=http://localhost:8083/api/v1/auth/social/callback?login_type=facebook
FB_USER_INFO_URI=https://graph.facebook.com/me?fields=id,name,email,picture.type(large)
FB_TOKEN_URI=https://graph.facebook.com/oauth/access_token
FB_AUTH_URI=https://www.facebook.com/v3.2/dialog/oauth
