# Database Configuration
DB_PORT=3307

# Backend Configuration
# BACKEND_IMAGE=ghcr.io/your-username/your-repo/backend:latest
# chỉ dùng khi chạy Docker
BACKEND_PORT=8081
# chạy ở local
SERVER_PORT=8081


# Frontend Configuration
# FRONTEND_IMAGE=ghcr.io/your-username/your-repo/frontend:latest
FRONTEND_PORT=3001
VITE_BACKEND_URL=http://localhost:8081

# JWT Configuration
JWT_BASE64_SECRET=TRrx3ZoD9xgevlM73MU8/ay9VO+8RJ7NjvFh5Ab0xoTsKzuPYwCOKDZugGYsVxroYRfP94DH6jBxBhFyBPaQQQ==
JWT_ACCESS_EXPIRE=86400
JWT_REFRESH_EXPIRE=604800

# phpMyAdmin Configuration
PHPMYADMIN_PORT=8082

# tên container trong Docker
COMPOSE_PROJECT_NAME=quanlytuyensinh

