# ================= DATABASE =================
DB_URL=jdbc:mysql://localhost:3306/hung123?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=123456

# -----------------PORT BACKEND================
SERVER_PORT=8081

# ================= JWT =================
# câu lệnh tạo key: openssl rand -base64 64
JWT_BASE64_SECRET=your-jwt-secret-here
JWT_ACCESS_EXPIRE=86400
JWT_REFRESH_EXPIRE=604800

# ================== OAuth Google =======================
# Thay thế bằng credentials của bạn từ Google Cloud Console
GG_CLIENT_ID=your-google-client-id-here
GG_CLIENT_SECRET=your-google-client-secret-here
GG_REDIRECT_URI=http://localhost:8080/api/v1/auth/social/callback?login_type=google
GG_USER_INFO_URI=https://www.googleapis.com/oauth2/v3/userinfo

# ================== OAuth Facebook =======================
# Thay thế bằng credentials của bạn từ Facebook Developers
FB_CLIENT_ID=your-facebook-app-id-here
FB_CLIENT_SECRET=your-facebook-app-secret-here
FB_REDIRECT_URI=http://localhost:8081/api/v1/auth/social/callback
FB_USER_INFO_URI=https://graph.facebook.com/me?fields=id,name,email,picture.type(large)
FB_TOKEN_URI=https://graph.facebook.com/oauth/access_token
FB_AUTH_URI=https://www.facebook.com/v3.2/dialog/oauth


# ================= ViettelAI TTS Config =================
VIETTELAI_TTS_API_URL=https://viettelai.vn/tts/speech_synthesis
VIETTELAI_TTS_VOICES_URL=https://viettelai.vn/tts/voices
VIETTELAI_TTS_TOKEN=your-token

# ================= Frontend Config =================
FRONTEND_URL=http://localhost:3001


# ================= AWS Config =================
AWS-ACCESS-KEY=
AWS-SECRET-KEY=
AWS-REGION=
AWS-BUCKET-NAME=
